body {
    margin: 10px;
}

.logo {
    width: 100px;
    height: 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container ul {
    align-self: center;
    list-style: none;
    display: flex;
    gap: 10px;
}

/* Restaurant list styles */
.restaurant-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}

.restaurant-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;

    img {
        width:100px;
        height:100px;
        align-self: center;
    }
}

.restaurant-container *{
    margin: 2px;
}

/* Shimmer styles*/
.shimmer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}
.shimmer-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;

    .img {
        background-color: #ECE9EB;
        width:100px;
        height:100px;
        align-self: center;
    }

    .text {
        background-color: #ECE9EB;
        width: 100%;
        height: 16px;
        align-self: center;
    }
}

.shimmer-container *{
    margin: 2px;
}
